@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap";
@import "~bootstrap/scss/bootstrap";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px 10px/16px = 62.5%
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    background-color: #fff;
}
